<!DOCTYPE html>
<html lang="en">
{include file="public/header" title="关于页面"  /}
<body>

<!--引入nav文件-->
{include file="public/nav"   /}
<div class="layui-container qf_blog_about_content">
    <div class="layui-row">
        <div class="layui-col-md8 qf_blog_about_content_left" >
            <blockquote class="layui-elem-quote">
            <span class="layui-breadcrumb">
            <a><cite>首页</cite></a>
          <a><cite>关于</cite></a>
           </span>
            </blockquote>
            <div class="about">
                <h2 class="my">关于晴枫</h2>
                <div class="my_info">
                    <p>1、晴枫,一枚九五后狮子男程序员。因为别无选择所以选择了这个行业。</p>
                    <p>2、15年年底开始工作，从事半年JAVA后转PHP。现在从事web网页建设。
                        至今还没规划好自己以后的方向，可能性格如此又或是对未来感到迷茫。</p>
                    <p>3、虽然生活平凡，但是内心却不甘平凡。希望通过时间的沉淀能够走出属于自己的人生。</p>
                </div>
                <h2 class="blog">关于博客</h2>
                <div class="blog_info">
                    其实很早之前就做了自己的博客，因为一直对自己的前端设计不满意也就不怎么更新文章。（其实是自己比较懒的借口罢了。）
                    希望这次能够一直坚持下去。主要是把工作中和生活中遇到的问题还有解决方法都记录下来，
                    这样既能避免自己以后少走一点弯路也能帮助到需要帮助的人。
                </div>

            </div>

        </div>

        <!--引入右边公用文件-->
        {include file="public/right"   /}

    </div>
</div>

<!--引入底部文件-->
{include file="public/footer"  /}

<div class="qf_blog_mask  layui-hide">
</div>






</body>
</html>