<!DOCTYPE html>
<html>
<head>
  {include file="public/header" title="注册页面"  /}
</head>
<body>


<!--引入nav文件-->
{include file="public/nav"   /}


<div class="layui-container qf_blog_reg">
  <div class="fly-panel fly-panel-user" >
    <div class="layui-tab layui-tab-brief">
      <ul class="layui-tab-title" style="text-align: center;">
        <li><a href="login.html">登陆</a></li>
        <li class="layui-this">注册</li>
      </ul>
      <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0; text-align: center;">
        <div class="layui-tab-item layui-show">
          <div class="layui-form layui-form-pane">
            <form method="post">
              <!--表单令牌-->
              {:token()}
              <div class="layui-form-item">
                <label for="L_email" class="layui-form-label">邮箱</label>
                <div class="layui-input-inline">
                  <input type="text" id="L_email" name="email"  lay-verify="email" autocomplete="off" class="layui-input" placeholder="请填写邮箱账号">
                </div>
               <div class="layui-form-mid layui-word-aux">将会成为您唯一的登陆名</div>
              </div>
              <div class="layui-form-item">
                <label for="L_nickname" class="layui-form-label">昵称</label>
                <div class="layui-input-inline">
                  <input type="text" id="L_nickname" name="nickname"  lay-verify="user_nikcname" autocomplete="off" class="layui-input" placeholder="请填写昵称">
                </div>
              </div>
              <div class="layui-form-item">
                <label for="L_pass" class="layui-form-label">密码</label>
                <div class="layui-input-inline">
                  <input type="password" id="L_pass" name="password"  lay-verify="user_password" autocomplete="off" class="layui-input" placeholder="请填写密码">
                </div>
             <!--   <div class="layui-form-mid layui-word-aux">6到16个字符</div>-->
              </div>
              <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">确认密码</label>
                <div class="layui-input-inline">
                  <input type="password" id="L_repass" name="repass"  lay-verify="user_repassword" autocomplete="off" class="layui-input"placeholder="请重复填写密码">
                </div>
              </div>
              <div class="layui-form-item">
                <label for="L_vercode" class="layui-form-label">验证码</label>
                <div class="layui-input-inline">
                  <input type="text" id="L_vercode" name="code"  lay-verify="user_code" placeholder="请输入验证码" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid">
                     <img src="{:url('checkVerify')}" onclick="javascript:this.src='{:url('User/checkVerify')}?tm='+Math.random();"
                          style="cursor: pointer;width: 120px; height: 35px; margin-top: -5px;"/>
                </div>
              </div>
              <div class="layui-form-item qf_blog_reg_submit">
                <button class="layui-btn" lay-filter="reg_user" lay-submit="">立即注册</button>
              </div>
              <div class="layui-form-item qf_blog_reg_app">
                <span>使用快捷账号登入</span>
                <a href="{:url('index/User/login_qq')}"  onclick="layer.msg('正在通过QQ登入', {icon:16, shade: 0.5, time:500})" class="iconfont icon-qq" title="QQ登入"></a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--引入底部文件-->
{include file="public/footer"  /}



</body>
</html>